{
  "presets": ["env", "react"],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": ["babel-plugin-transform-decorators-legacy",
    "babel-plugin-transform-decorators"]
}
